<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git" />
  <package id="opencv" />
  <!-- You can specify version if needed -->
  <!-- <package id="opencv" version="4.5.5" /> -->
  
  <!-- Add other packages as needed, for example: -->
  <!-- <package id="visualstudio2022community" /> -->
</packages>